.botaowhattsapp {
  background-color: #487cff;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 25px;
  border-color: #487cff;
}

.botaowhattsapp:hover {
  background-color: #0464eb;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 25px;
  border-color: #0464eb;
}

.cookiealert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  color: #fff;
  background: #487cff;
}

.cookiealert.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  transition-delay: 1000ms;
}

.cookiealert a {
  text-decoration: underline;
}

.cookiealert .acceptcookies {
  margin-left: 10px;
  vertical-align: baseline;
  padding: 7px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
}

#buttonpreco {
  color: #487cff;
  background-color: #fff;
  border-color: #487cff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#buttonpreco:hover {
  color: #fff;
  background-color: #487cff;
  border-color: #487cff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.imageminicio {
  animation: go-back 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes go-back {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

h1 {
  display: inline-block;
  color: #ffffff;
  background-color: #487cff;
  width: auto;
  font-size: 50px;
  font-family: 'Roboto';
  font-weight: bold;
}

cursor {
  display: inline-block;
  background-color: #003366;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

a #button {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 5px 5px 10px #ccc;
  border-radius: 2px;
}

.btn-outline-primary:active {
  background-color: #ffffff;
}

.btn-outline-primary:hover {
  background-color: #ffffff;
}

.btn-outline-primary {
  color: #487cff;
}

#trocarqualquerhora {
  font-family: 'Roboto';
  background-color: #ffffff;
  color: #212121;
  text-align: left;
  font-size: 16px;
}

.termos:hover {
  color: #ffffff;
}

a {
  color: #ffffff;
  font-size: 15px;
  text-decoration: initial;
}

a #botaocontador {
  margin-top: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #487cff;
  border-color: #487cff;
  border-radius: 10px;
}

#botaocontador:hover {
  color: #487cff;
  background-color: #fff;
  border-color: #487cff;
  border-radius: 10px;
}

.features__tick::after {
  content: "\2713";
  font-size: 1.5em;
  color: #487cff;
}

div .servico {
  background-color: #dcdcdc;
}

.textotabela {
  color: #2343d4;
}

div .simples {
  border-bottom: 1px;
}

div .plano1 {
  border-radius: 15px 0 0 0;
  background-color: #0464eb;
  color: #ffffff;
  border-bottom: 1px;
}

div .plano2 {
  background-color: #0542e6;
  color: #ffffff;
  border-bottom: 1px;
}

div .plano3 {
  border-radius: 0 15px 0 0;
  border-bottom: 1px;
  background-color: #0628e3;
  color: #ffffff;
}

div .paragrafo {
  line-height: 0.7;
}

div .titulo {
  color: #002dff;
}

.nav-link:focus, .nav-link:hover {
  color: #487cff;
}

#navcol-1 .nav-link:hover {
  color: #ffffff;
  background-color: #487cff;
  border-color: #487cff;
  border-radius: 10px;
}

#navcol-1 .nav-link {
  color: #487cff;
}

div a .aplicativos {
  width: 80%;
  box-shadow: 0.5px 0.5px 3px #ccc;
}

div a:hover .aplicativos {
  width: 82%;
}

div a .logo {
  width: 180px;
}

.introducao {
  display: inline-block;
  color: #487cff;
  width: auto;
  font-size: 50px;
  font-family: Roboto;
  font-weight: bold;
}

.btn-outline-primary {
  color: #002dff;
  border-color: #ffffff;
}

div .formulario {
  margin-top: 40px;
  font-family: Roboto;
  font-size: 16px;
}

div .form-group {
  color: #ffffff;
  margin-bottom: 10px;
}

div .form-control {
  color: #c2c2c2;
}

div .form-control::placeholder {
  color: #c2c2c2;
}

div .informativo {
  color: #ffffff;
  margin-bottom: 10px;
}

div .contato {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 100px;
}

div .contato button {
  padding: 20px;
  color: #ffffff;
  background-color: #0464eb;
  box-shadow: 2px 2px 3px #0542e6;
}

div .contato button:hover {
  background-color: #0542e6;
}

h2 .linkduvida {
  color: #002dff;
}

h3 .linkduvida {
  color: #487cff;
}

h3 .linkduvida:hover {
  color: #002dff;
}

a img {
  width: 70%;
}

.nav-item {
  color: #487cff;
  margin-right: 2px;
}

#buttoninicial {
  color: #fff;
  background-color: #487cff;
  border-color: #487cff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
}

#buttoninicial:hover {
  color: #487cff;
  background-color: #fff;
  border-color: #487cff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}

#buttonservicos {
  color: #fff;
  background-color: #487cff;
  border-color: #487cff;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 100%;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#buttonservicos:hover {
  color: #487cff;
  background-color: #fff;
  border-color: #487cff;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 100%;
  border-radius: 10px;
}

#buttontrocar {
  display: block;
  color: #fff;
  background-color: #487cff;
  border-color: #487cff;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

#buttontrocar:hover {
  color: #487cff;
  background-color: #fff;
  border-color: #487cff;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 10px;
  width: 100%;
}

.precoicone {
  margin-bottom: -0px;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

@media (min-width:768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 30%;
    margin: 10px;
  }
}

@media (min-width:768px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: 24%;
    margin: 3px;
  }
}

#navcol-1 {
  margin-right: 60px;
}

.tiposervicos {
  color: #487cff;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 900;
}

.textoservicos {
  color: #212121;
  font-size: 15px;
  font: 400 1em 'Roboto';
  margin-left: 30px;
}

.backtexto {
  border: .8em #fc3d6c;
  border-radius: 5px;
  padding-left: 0.6em;
  padding-right: 0.6em;
  background-color: #fc3d6c;
  font: 400 0.8em 'Roboto';
  background-clip: border-box;
}

.iconservicos {
  width: 5%;
  margin-right: 5px;
  justify-content: center;
}

.ideal {
  display: inline-block;
  color: #487cff;
  width: auto;
  font-size: 50px;
  font-family: Roboto;
  font-weight: bold;
}

.cursor2 {
  display: inline-block;
  background-color: #003366;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.accordion {
  background-color: #fff;
  color: #212121;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}

.accordion:hover {
  color: #487cff;
}

.active {
  color: #487cff;
  font-weight: bold;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#detalhe {
  max-width: 600px;
  border: 0.1px solid #ccc;
}

a #botaocontato {
  margin-top: 20px;
  padding: 10px;
  background-color: #487cff;
  border-color: #487cff;
  border-radius: 10px;
  width: 100%;
}

#botaocontato:hover {
  color: #487cff;
  background-color: #fff;
  border-color: #487cff;
  border-radius: 10px;
}

.politica {
  color: #999999;
}

